<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Site.Title }}</title>
    <!-- Meta refresh redirect -->
    <meta http-equiv="refresh" content="0; URL='https://sites.google.com/view/itamarcaspi/home'" />
    <!-- JavaScript redirect as a fallback -->
    <script>
        window.location.href = "https://sites.google.com/view/itamarcaspi/home";
    </script>
</head>
<body>
    If you are not redirected automatically, please <a href="https://sites.google.com/view/itamarcaspi/home">click here</a>.
</body>
</html>